body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1a1a1a;
}

header {
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Dikey hizalama için eklendi */
    padding: 15px;
}

.logo {
    display: flex; /* Logo ve metin yan yana yerleştirmek için */
    align-items: center; /* Dikey hizalama için */
    font-size: 24px;
    font-weight: bold;
}

#logo {
    width: 10px; /* Logonun genişliği */
    height: auto; /* Orantıyı korumak için */
    margin-right: 10px; /* Logo ile metin arasında boşluk */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.slider {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%; /* Slider genişliği ekranın %95'ini kapsar */
    max-width: 1200px; /* Maksimum genişlik */
    margin: 0 auto; /* Ortalanmış */
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 100%; /* Fotoğrafı slider genişliğine tam oturt */
    height: 500px; /* Yüksekliği 500px olarak belirledik */
    object-fit: cover; /* Resmi kapsayıcı alanın boyutuna göre kes */
    border-radius: 10px; /* Hafif köşe yuvarlatma */
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro .cta {
    background-color: #ffcc00;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

footer {
    background-color: #2a2a2a;
    padding: 15px;
    text-align: center;
}

.footer-links a,
.social-media a {
    color: white;
    margin: 0 10px;
}

.contact {
    padding: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-bottom: 5px;
}

.contact input,
.contact textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact button {
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
}

#map {
    height: 300px;
    width: 100%;
}

.about {
    padding: 20px;
    text-align: center; /* Metinleri ortalamak için */
    font-family: 'Arial', sans-serif; /* Daha modern bir font */
}

.about h1 {
    font-size: 2.5em; /* Başlık boyutu */
    margin-bottom: 20px;
    color: #ffcc00; /* Başlık rengi */
}

.about-gif {
    width: 500px; /* GIF boyutunu büyüttük */
    height: auto; /* Orantıyı korumak için */
    margin: 20px 0; /* Üst ve alt boşluk */
}

.about p {
    font-size: 1.1em; /* Paragraf boyutu */
    line-height: 1.6; /* Satır yüksekliği */
    color: white; /* Yazı rengi */
}
